.rounded-image {
  .image-container {
    text-align: center;
  }
}

.rounded-image {
  border-radius: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  /* height: 250vh; /* Ajusta la altura según sea necesario */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 195vh;
}

p {
  font-family: Rockwell;
  font-size: 215%;
  color: rgb(6, 113, 159);
  font-weight: bold;

}

.p1 {
  font-family: Segoe UI;
  font-size: 185%;
  color: rgb(6, 113, 159);
  font-weight: bold;
  text-align: center;
  height: 17vh;
}

h5 {
  text-align: justify;
}

.con-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.con {
  background-color: rgb(120, 166, 234);
  color: rgb(255, 252, 252);
  padding: 30px;
  width: 50%;
  margin-top: 20px;
}

.image {
  justify-content: center;
  align-items: center;
  height: 100vh;
}



html {
  scroll-behavior: smooth;
}

/* Estilo para las secciones */
section {
  padding: 40px 0;
  text-align: center;
}

.section-background {
  background-color: #f0f0f0;
}

.section-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
}


/*proyectos*/
#proyectos h2 {
  text-align: center;
}

.proyectos-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.proyecto {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  flex: 0 0 calc(33.33% - 20px);
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out;
}

.proyecto:hover {
  background-color: #d0d0d0;
}

.proyecto img {
  max-width: 100%;
  height: auto;
}

/*T E S T I M O N I O S*/

.testimonial-carousel {
  display: flex;
  overflow: hidden;
  max-width: 400px;
  margin: 0 auto;
}

.testimonial {
  flex: 0 0 100%;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  display: none;
}

.testimonial img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

p {
  font-style: italic;
}

h4 {
  margin-top: 10px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#prevBtn,
#nextBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

#prevBtn {
  margin-right: 10px;
}



/* Carrusel */

.testimonial-carousel {
  display: flex;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

.testimonial {
  flex: 0 0 100%;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  display: none;
}

.testimonial img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

p {
  font-style: italic;
  align-items: center;
}

.h2 {
  margin-top: 10px;
  text-align: center;
}

/* Botones para navegar por el carrusel */
#prevBtn,
#nextBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

#prevBtn {
  margin-right: 10px;
}


/* Estilos para la sección de contacto */
.contact-background {
  background-color: #3bbed2;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5;
  gap: 20px;
}

.contact-icons a {
  padding: 2vh;
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-align: center;
  transition: color 0.3s ease;
}

.contact-icons a:hover {
  color: #ff4500;
}

.fab {
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .contact-icons {
    flex-direction: column;
  }

  .contact-icons a {
    margin-top: 10px;
  }
}

/* Otras reglas CSS */

#proyectos {
  margin-bottom: 0; /* Agrega esta línea */
}
#testimonios {
  margin-top: 0; /* Agrega esta línea */
}


